<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	Hey Please teach me the following sentence :
  	<p> <b><%= @msg%></b></p>


  </body>
</html>